<h1>Lista de Productos del Carrito {{carts.title}}</h1>
<button onclick="redireccionar('/products/')" class="btn-cart">Ver Productos 🛒</button>
{{#if carts.products.length}}
    <table>
        <thead>
        <tr>
            <th>Producto</th>
            <th>descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Imagen</th>
            <th>Quitar del carrito</th>
        </tr>
        </thead>
        <tbody>
        {{#each carts.products}}
            {{!-- <div class="product-card"> --}}
                <tr>
                <td style="text-transform: uppercase;"><strong>{{product.title}}</strong></td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{quantity}}</td>
                <td><img src="{{product.thumbnails}}" alt="{{product.title}}" class="product-image"></td>
                <td><button class="add-to-cart-2" onclick="eliminar('{{product._id}}')"><i class="fa-solid fa-rectangle-xmark fa-2xl"></i></button></td>
                </tr>           
        {{/each}}
        </tbody>
    </table>
    <button onclick="redireccionar('/products/')" class="btn-cart" style="margin-top: 1%;">Finalizar compra</button>
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}
<script src="/js/script.js"></script>